.btn-space_BOT {
    margin-right: 63px;
    margin-left: 63px;
    margin-bottom: 63px;
}

.btn-space_TOP {
    margin: 63px;
}

/*.andiv{
    position: center;
    width: 1000px;
    max-height: 800px;

    margin: auto;
    background-color: #282c34;
}*/



